<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
  <link rel="stylesheet" href="../css/stili.css">
  <script src="../skripte/skripta.js"></script>
  <head>
    <meta charset="UTF-8">
    <title>1. pisni izpit OIS 2018-2019</title>
  </head>
  <body>

    <!-- MENI -->
    <meni class="rob senca">
        <div id="vremeOkolica">
          <img src="./iconfinder_04_moon_sleepy_night_emoticon_weather_smiley_3375696.png" alt="Smiley face" height="42" width="42">
        </div>
        <div id="bliznjiKraji" class="tasks"></div>
      
      <button id="prikaziZgodovino" class="rob senca">Prikaži zgodovino</button>
    </meni>

    <!-- TELO -->
    <telo id="mapa_id" class="rob senca"></telo>

  </body>
</html>
